{% extends "message.html" %}
{% block body %}
  <div class="message">
    <!-- Message for users who edited an article with incorrect privalages -->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
          <br />
          <em class="user_message">{{message}}</em><br />
        {% endfor %}
      {% endif %}
    {% endwith %}
    <br />
    Add Article <br /><br />
      <form method="POST" id='article'>
        Title:<br />
        <input type="text" name="title" class="input_text_style" /><br />
        Description:<br />
        <textarea rows='10' cols='120' name="description" form='article' class="input_text_style">Enter your article here</textarea>
        <br />
        Categegory:<br />
        <select name="category">
          {% for item in categories %}
            <option value="{{item.id}}">{{item.category}}</option>
            <br /><br />
          {% endfor%}
        </select>
        <input id="submit" type="submit" value="Sumbit" />
      </form>
  </div>
{% endblock %}
