{% extends "index.html" %}
  {% block body %}
  <div class="categorys">
    <span class="items">
      <div>
        <p class="header_text">Categories</p>
          {% for item in categories %}

              <div class="title">
                <a href='{{url_for('article.show_articles_by_category',
                catalog_id = item.id) }}'>{{ item.category }}</a>
              </div>
              <br />

          {% endfor %}
      </div>
    </span>
  </div>
    <span class="article">
      <p class="header_text">Articles in selected topic:</p>
          {% for item in articles %}
              <a id='sub_article' href='{{url_for('article.show_article', article_id = item.id, catalog_id = item.parent_id) }}'>{{ item.title }} </a>
          {% endfor %}
    </span>
    <div class="preview"></div>
  {% endblock %}
