{% extends "index.html" %}
{% block body %}
  <form method="POST">
    Title:<br />
    <input type="text" name="title" placeholder="{{article.title}}" /><br />
    Description:<br />
    <input type="text" name="description" placeholder="{{article.article_text}}"/><br />
    Categegory:<br />
    <select name="category">
      {% for item in categories %}
        <option value="{{item.id}}">{{item.category}}</option>
        <br /><br />
      {% endfor%}
    </select>
    <input type="submit" value="Sumbit" />
  </form>
{% endblock %}
