{% extends "index.html" %}
  {% block body %}
  <div class="selection_block">
    <span class="items">
      <div>
        <p class="header_text">Categories</p>
          {% for item in categories %}
          <div class="categorys">
            <div class="title">
              <a href='{{url_for('show_articles_by_category',
              catalog_id = item.id) }}'>{{ item.category }}</a>
            </div>
          </div>
          {% endfor %}
      </div>
    </span>
    <span class="articles">
      <div>
        <p class="header_text">Latest Articles</p>
      </div>
      {% for item in articles %}
        <div class="article">
          <div class="article_title">
            <a href='{{url_for('show_article', catalog_id = item.parent_id, article_id = item.id) }}'>{{ item.title }}</a>
            {% for category in categories %}
              {% if category.id == item.parent_id %}
                ({{ category.category }})
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <span>
        <br />
        Recently Viewed Articles <br /><br />
        {% for h in history %}
        {{ h.article.title }} was {{ h.action }} by {{h.viewer}} <br /><br />
        {% endfor %}
      </span>
    </span>
  </div>
{% endblock %}
