{% extends "index.html" %}
  {% block body %}
    <span class="categorys">
      <div>
        <p class="header_text">Categories</p>
          {% for item in categories %}
          <div class="all_categorys">
            <div class="title">
              <a href='{{url_for('show_articles_by_category',
              catalog_id = item.id) }}'>{{ item.category }}</a>
            </div>
          </div>
          {% endfor %}
      </div>
    </span>
    <span class="article">
      <div>
        <p class="header_text">Latest Articles</p>
      </div>
      {% for item in articles %}
        <div class="all_articles">
          <div class="article_title">
            <a href='{{url_for('show_article', catalog_id = item.parent_id, article_id = item.id) }}'>{{ item.title }}</a>
            {% for category in categories %}
              {% if category.id == item.parent_id %}
                ({{ category.category }})
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </span>
    <span class="recent_activity">
      <br />
      Recently Viewed Articles <br /><br />
      {% for h in history %}
      {{ h.article.title }} was {{ h.action }} by {{h.viewer}} <br /><br />
      {% endfor %}
    </span>
{% endblock %}
