{% extends "index.html" %}
  {% block body %}
    <span class="categorys">
      <div>
        <p class="header_text">Categories</p>
          {% for item in categories %}
            <div class="catalog_title">
              <a href='{{url_for('show_articles_by_category',
              catalog_id = item.id) }}'>{{ item.category }}</a>
            </div>
          {% endfor %}
      </div>
    </span>
    <span class="article">
      <div>
        <p class="header_text">Latest Articles</p>
      </div>
      {% for item in articles %}
        <div class="all_articles">
          <div class="article_title">
            <a href='{{url_for('show_article', catalog_id = item.parent_id, article_id = item.id) }}'>{{ item.title }}</a>
            {% for category in categories %}
              {% if category.id == item.parent_id %}
                ({{ category.category }})
              {% endif %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <!-- Code to add new article -->
      {% if status == True %}
        <!-- User loged in - show add article link -->
        <div class="header_text align_right">
          <a href="{{url_for('add_article')}}">Add Article</a>
        </div>
      {% elif status == False %}
        <!-- Don't display a link -->
      {% endif %}

    </span>
    <span class="recent_activity">
      <br />
      <div class="heading">
        Recently Viewed Articles: <br /><br />
      </div>
      {% if status == True %}
        <div class='text'>
          {% for h in history %}
                {{ h.article.title }} was {{ h.action }} by {{h.viewer}} <br /><br />
          {% endfor %}
        </div>
        {% elif status == False %}
          <p class="text">Please login to see your history</p>
      {% endif %}

    </span>
{% endblock %}
