<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TestingBOK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>

</head>
<body>
  <div class="site_home">
      <div class="header">
        <div>TestingBoK: A QA Catalog</div>
      </div>
      <div class="navbar_one header_text">
        <a href='{{url_for('show_homepage') }}'>Home</a>
      </div>
      <div class="navbar_two header_text">
        {% if status == True: %}
            <!-- Leave blank  -->
        {% elif status == False: %}
          <!-- Link to create new user - TODO only show if not logged in -->
            <a href='{{url_for('create_user') }}'>Create Account</a>
        {% endif %}
      </div>
      <div class="navbar_three header_text">
        {% if status == True: %}
            <!-- Logout button  -->
             <a href="/logout" class="buttons" onclick="sign_out();">Logout</a>
        {% elif status == False: %}
          <!-- Link to create new user - TODO only show if not logged in -->
            <a href="{{url_for('login')}}" class="buttons">Login</a>
        {% endif %}
      </div>

      <div class="login">
        <em>
          'Software testing is an investigation conducted to provide stakeholders
          with information about the quality of the software product or
          service under test.'
        </em>
      </div>

    <span class="description">
      TestingBoK is a online community resource for cataloguing tools, techniques, processes
      and useful articles related to modern software testing.

      Once you have logged in, you can create a new article</a>
      and later edit anyarticles you have created.
    </span>
      {% block body %}{% endblock %}
  </div>
</header>
</body>
</html>
