<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>TestingBOK</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheets/stylesheet.css') }}" />
    <link href='https://fonts.googleapis.com/css?family=Alfa Slab One' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Amaranth' rel='stylesheet'>

</head>
<body>
  <!-- Template used for displaying content -->
  <div class="site_display_content">
      <div class="header_m">
        <div>TestingBoK: A QA Catalog</div>
      </div>

      <div class="navbar_one_m header_text">
        <a href='{{url_for('show_homepage') }}'>Home</a>
      </div>
      <div class="navbar_two_m header_text">
        {% if status == True: %}
            <!-- Leave blank  -->
        {% elif status == False: %}
          <!-- Link to create new user - TODO only show if not logged in -->
            <a href='{{url_for('create_user') }}'>Create Account</a>
        {% endif %}
      </div>
      <div class="navbar_three_m header_text">
        {% if status == True: %}
            <!-- Logout button  -->
             <a href="/logout" class="buttons" onclick="sign_out();">Logout</a>
        {% elif status == False: %}
          <!-- Link to create new user - TODO only show if not logged in -->
            <a href="{{url_for('login')}}" class="buttons">Login</a>
        {% endif %}
      </div>

      <div class="login_m">
        <em>
          'Software testing is an investigation conducted to provide stakeholders
          with information about the quality of the software product or
          service under test.'
        </em>
      </div>
      {% block body %}{% endblock %}
  </div>

</header>

</body>
</html>
