.site {
  display: grid;
  background: white;
  grid-template-columns: 10em 1fr 1fr 1fr 10em;
  grid-template-rows: 200px auto auto 1fr;
  grid-gap: 0.5em;
  grid-template-areas:
    ". header header login ."
    ". navbar_one navbar_two navbar_three ."
    ". description description description ."
    ". categorys article preview ."
    ". recent_activity recent_activity recent_activity ."
}

.header {
  display: grid;
  background: #4ABDAC;
  padding: 50px;
  font-family: 'Alfa Slab One';
  font-size: 65px;
  grid-area: header;
}

.navbar_one {
  display: grid;
  grid-area: navbar_one;
  background: #F78733;
  text-align: center;
}

.navbar_two {
  display: grid;
  grid-area: navbar_two;
  background: #F78733;
  text-align: center;
}

.navbar_three {
  display: grid;
  grid-area: navbar_three;
  background: #F78733;
  text-align: center;
}

.login{
  display: grid;
  background: #4ABDAC;
  font-size: 24px;
  padding: 40px;
  grid-area: login;
}

.description {
  display: grid;
  grid-area: description;
  background: #4ABDAC;
  font-family: 'Alfa Slab One';
  font-size: 22px;
  padding: 20px;
}

.categorys {
  display: grid;
  grid-area: categorys;
  padding: 40px;
  font-size: 22px;
  background: #4ABDAC;
}

.article {
  display: grid;
  grid-area: article;
  padding: 40px;
  font-size: 22px;
  background: #4ABDAC;
}

.preview {
  display: grid;
  grid-area: preview;
  padding: 40px;
  background: #4ABDAC;
}

.catalog {
  display: grid;
  grid-area: catalog;
  font-family: 'Amaranth';
  padding: 40px;
}

.articles {
  display: grid;
  grid-area: articles;
  font-family: 'Amaranth';
  padding: 40px;
}

.recent_activity {
  display: grid;
  grid-area: recent_activity;
  padding-top: 20px;
  background: #4ABDAC;
  font-family: 'Amaranth';
  font-size: 20px;
}

.heading {
  /* CSS for headings on the homepage */
  padding-left: 20px;
}

.text {
  /* CSS for text elements on the homepage */
  padding-left: 25px;
}

.article_title {
  padding-bottom: 5px;
}

.catalog_title {
  padding-bottom: 5px;
}

.header_text {
  font-family: 'Amaranth';
  font-size: 25px;
}

.align_center {
  text-align: center;
}

.align_right {
  text-align: right;

}
